@page "/"
@inject BlazerTutorialProject.Client.Services.IRepository repoService

<div>
	<h3>Movies</h3>
	<MovieList Movies="@repoService.GetMovies()" />
</div>

<MyTypeahead SearchMethod="SearchTest">
	<ResultTemplate Context="declaredContext">
		@declaredContext
	</ResultTemplate>
</MyTypeahead>
 
@code {

	private string declaredContext;

	private async Task<IEnumerable<string>> SearchTest(string searchText)
	{
		await Task.Delay(2000);
		if (searchText == "test") { return Enumerable.Empty<string>(); }
		return new List<string> { "fire", "water" };
	}
}
