@page "/person/edit/{PersonId:int}"

<h3>EditPerson</h3>

@if (person != null)
{ 
	<PersonForm Person="person" OnValidSubmit="Edit"/>
}

@code {
	[Parameter]
	public int PersonId { get; set; }

	Person person = new Person();

	void Edit() { }
}
