@page "/movies/create"
@inject NavigationManager navManager

<h3>CreateMovie</h3>

<button class="btn btn-primary" @onclick="SaveMovie">Save movie</button>

@code {

	void SaveMovie()
	{
		navManager.NavigateTo("movie/1");
	}

}
